---
layout: default
title: About
subtitle: Resisting the Trump Agenda in Central Texas
#meta-title: TX-10 Indivisible Test
#meta-description: Resisting the Trump Agenda in Central Texas
#meta-keywords: Resisting the Trump Agenda in Central Texas
#share-img: http://www.example/img/example-1200x1200.png
---
<!-- Main -->
	<section class="wrapper style1 top">
		<div class="container">
			<div class="row double">
				<div class="9u">
					<div id="content">

							<article>
								<header>
									<h2>About TX-10 Indivisible</h2>
									<p>{{page.subtitle}}</p>
								</header>

								<p>We are residents of the <a href="https://en.wikipedia.org/wiki/Texas%27s_10th_congressional_district">Texas 10th Congressional District</a>, represented by <a href="http://mccaul.house.gov/">Rep. Michael McCaul</a>, and we oppose the radical Trump agenda.  We believe <a href="https://www.indivisibleguide.com/download-the-guide">The Indivisible Guide</a> offers a valuable playbook to reduce the damage that Trump and the conservative Congress might do over the next several years. We are actively working to stop their radical agenda. <em>Please join us if you share that goal.</em></p>

								<div id="iatx-video" align="center">
									<iframe  width="593" height="361" src="https://www.youtube.com/embed/zlXlj4MCdOA" frameborder="0" allowfullscreen></iframe>
									<br/>
									<span style="font-size: .8em; font-style: italic">Starring many of our very own TX-10 Volunteers &amp; Activists!</span>
								</div>

								<p>For more information on how to <a href="/get-involved">get involved</a>, reach out to <a href="mailto:contact@tx10indivisible.us?subject=Getting Involved with TX-10 Indivisible"><i class="fa fa-envelope" aria-hidden="true"></i> contact@tx10indivisible.us</a></p>

								<h3>Indivisible Guide</h3>
								<blockquote>Donald Trump is the biggest popular-vote loser in history to ever call himself President. In spite of the fact that he has no mandate, he will attempt to use his congressional majority to reshape America in his own racist, authoritarian, and corrupt image. If progressives are going to stop this, we must stand indivisibly opposed to Trump and the Members of Congress (MoCs) who would do his bidding. Together, we have the power to resist — <em><strong>and we have the power to win.</em></strong></blockquote>
								<ul class="ig-resource-list">
									<span>For more details about the <em><strong>nation-wide</strong></em> Indivisible movement,</span>
									<li><a href="https://www.indivisibleguide.com/resource/guide-english-pdf/?wpdmdl=1777"><i class="fa fa-book"></i> Indivisible Guide (English PDF)</a></li>
									<li><a href="https://www.indivisibleguide.com/resource/guiaindivisible/?wpdmdl=1780"><i class="fa fa-book"></i> Guia Indivisible (Español PDF)<a/></li>
									<li><a href="https://www.indivisibleguide.com/guide/"><i class="fa fa-external-link"></i> indivisibleguide.com</a>.</li>
								</ul>
								<h4>Tactics We Use to Pressure Our Members of Congress to Resist Trump</h4>
								<div id="ig-tactics">
									<div class="tactic-block" align="center">
										<a href="https://www.indivisibleguide.com/guide/advocacy-tactics/town-halls">
										<img src="/assets/images/ig-town-halls.png" />
										<span>Town Halls</span></a>
									</div>
									<div class="tactic-block" align="center">
										<a href="https://www.indivisibleguide.com/guide/advocacy-tactics/local-public-events">
										<img src="/assets/images/ig-public-events.png" />
										<span>Local Public Events</span></a>
									</div>
									<div class="tactic-block" align="center">
										<a href="https://www.indivisibleguide.com/guide/advocacy-tactics/district-office-visits">
										<img src="/assets/images/ig-district-office.png" />
										<span>District Office Visits</span></a>
									</div>
									<div class="tactic-block" align="center">
										<a href="https://www.indivisibleguide.com/guide/advocacy-tactics/coordinated-calls">
									  <img src="/assets/images/ig-calls.png" />
										<span>Coordinated Calls</span></a>
									</div>
								</div>

							</article>

					</div>
				</div>
				<div class="3u">
					{% include righthand-sidebar.html %}
				</div>
			</div>
		</div>
	</section>

	{% include cta.html %}
