---
layout: default
title: Home
#subtitle: Resisting the Trump Agenda in Central Texas
#meta-title: TX-10 Indivisible Test
#meta-description: Resisting the Trump Agenda in Central Texas
#meta-keywords: Resisting the Trump Agenda in Central Texas
share-img: /assets/images/site-logo-borderless.png
---
<!-- Banner -->
	<section id="banner">
		<header>
			<h2>{{ site.title }} : <em>{{ site.description }}</em></h2>
			<a href="/get-involved" class="button">Get Involved</a>
		</header>
	</section>

<!-- Highlights -->
	<section class="wrapper style1">
		<div class="container">
			<div class="row">
				<section class="4u">
					{% include site-news-feed.html %}

					<!--
					<div class="box highlight">
						<i class="icon major fa-pencil"></i>
						<h3>Also Important</h3>
						<p>Duis neque nisi, dapibus sed mattis et quis, nibh. Sed et dapibus nisl amet mattis, sed a rutrum accumsan sed. Suspendisse eu.</p>
					</div>
					-->
				</section>
				<section class="5u">
					{% include facebook-timeline.html %}

					<!--
					<div class="box highlight">
						<i class="icon major fa-paper-plane"></i>
						<h3>This Is Important</h3>
						<p>Duis neque nisi, dapibus sed mattis et quis, nibh. Sed et dapibus nisl amet mattis, sed a rutrum accumsan sed. Suspendisse eu.</p>
					</div>
					-->
				</section>
				<section class="3u">

					{% include action-network-register.html %}

					<!--
					<div class="box highlight">
						<i class="icon major fa-wrench"></i>
						<h3>Probably Important</h3>
						<p>Duis neque nisi, dapibus sed mattis et quis, nibh. Sed et dapibus nisl amet mattis, sed a rutrum accumsan sed. Suspendisse eu.</p>
					</div>
					-->
				</section>
			</div>
		</div>
	</section>

 {% include cta.html %}
