		<!-- Footer -->
			<div id="footer">
				<div class="container">
					<div class="row ">
						<section class="4u">
							<h3>Site Navigation</h3>
							<ul class="links">
								<li><a href="/">Home</a></li>
								<li><a href="/about">About</a></li>
								<li><a href="/news">News</a></li>
								<li><a href="/get-involved">Get Involved</a></li>
								<!-- <li><a href="/resources">Resources</a></li> -->
							</ul>
						</section>
						<section class="4u">
							<h3>Related Sites</h3>
							<ul class="links fa-markers">
								<li><a class="nav-outlink" href="https://www.indivisibleguide.com/">Indivisible Guide</a></li>
								<li>
									<a class="nav-outlink" href="https://www.indivisibleaustin.com/">Indivisible Austin</a>
									<ul id="footer-iatx-more" class="fa-markers">
										<!-- <li><a href="http://tx10indivisible.us/">TX-10 Indivisible</a></li> -->
										<li><a class="nav-outlink" href="http://indivisibletx17.com/">TX-17 Indivisible</a></li>
										<li><a class="nav-outlink" href="https://tx21indivisible.us/">TX-21 Indivisible</a></li>
										<li><a class="nav-outlink" href="http://tx25.indivisible.blue/">TX-25 Indivisible</a></li>
										<li><a class="nav-outlink" href="http://indivisiblesanantonio.org/">TX-35 Indivisible</a></li>
										<li><a class="nav-outlink" href="https://www.indivisibleaustin.com/resources/other-texas-orgs/">More Texas Cause Groups</a></li>
									</ul>
								</li>
							</ul>
						</section>
						<section class="4u">
							<h3>Related Feeds</h3>
							<ul class="links fa-markers">
								<li><a href="https://twitter.com/indivisibleATX" class="icon fa-twitter nav-outlink"> @indivisibleATX</a></li>
								<li><a href="https://twitter.com/IndivisibleTeam" class="icon fa-twitter nav-outlink"> @IndivisibleTeam</a></li>
								<li><a href="https://twitter.com/IndivisibleData" class="icon fa-twitter nav-outlink"> @IndivisibleData</a></li>
								<li><a href="https://twitter.com/TXlege" class="icon fa-twitter nav-outlink"> @TXlege‏</a></li>
							</ul>
						</section>
					</div>
				</div>

				<!-- Icons -->
					<ul class="icons">
						<li><a href="{{ site.author.facebook }}" class="icon fa-facebook nav-outlink"><span class="label">Facebook Page</span></a></li>
						<li><a href="https://twitter.com/{{ site.author.twitter }}" class="icon fa-twitter nav-outlink"><span class="label">Twitter</span></a></li>
						<li><a href="{{ site.author.facebook-group }}" class="icon fa-facebook nav-outlink"><span class="label">Facebook Group</span></a></li>
						<li><a href="mailto:{{ site.author.email }}" class="icon fa-envelope nav-outlink"><span class="label">Mail</span></a></li>
						<li><a href="https://www.youtube.com/{{ site.author.youtube }}" class="icon fa-youtube nav-outlink"><span class="label">YouTube</span></a></li>
						<li><a href="/feed.xml" class="icon fa-rss nav-outlink"><span class="label">Feed</span></a></li>
					</ul>

				<!-- Copyright -->
				<!--
					<div class="copyright">
						<ul class="menu">
							<li>&copy; Untitled. All rights reserved</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
						</ul>
					</div>
				-->
			</div>

			{% include google_analytics.html %}

	</body>
</html>
