<div id="moc-sidebar-wrapper">
  <div class="inner">
    <h3 class="rep-name">Rep. Michael McCaul</h3>
    <ul class="fa-markers">
      <li><i class="fa fa-phone"></i> <a href="tel:512-473-2357">(512) 473-2357</a> (Austin)</li>
      <li><i class="fa fa-phone"></i> <a href="tel:202-225-2401">(202) 225-2401</a> (DC)</li>
      <li><i class="fa fa-phone"></i> <a href="tel:281-398-1247">(281) 398-1247</a> (Katy)</li>
      <li><i class="fa fa-phone"></i> <a href="tel:281-255-8372">(281) 255-8372</a> (Tomball)</li>
      <li><i class="fa fa-phone"></i> <a href="tel:979-830-8497">(979) 830-8497</a> (Brenham)</li>
      <li><i class="fa fa-globe"></i> <a href="http://mccaul.house.gov/">mccaul.house.gov</a></li>
      <li><i class="fa fa-twitter"></i> <a href="https://twitter.com/RepMcCaul">@RepMcCaul</a></li>
    </ul>
  </div>

  <div class="inner">
    <h3 class="rep-name">Senator Ted Cruz</h3>
    <ul class="fa-markers">
      <li><i class="fa fa-phone"></i> <a href="tel:512-916-5834">512-916-5834</a> (Austin)</li>
      <li><i class="fa fa-phone"></i> <a href="tel:202-224-5922">202-224-5922</a> (DC)</li>
      <li><i class="fa fa-phone"></i> <a href="tel:903-593-5130">(903) 593-5130</a> (Tyler)</li>
      <li><i class="fa fa-globe"></i> <a href="https://www.cruz.senate.gov/">www.cruz.senate.gov</a></li>
      <li><i class="fa fa-twitter"></i> <a href="https://twitter.com/tedcruz">@TedCruz</a></li>
    </ul>
  </div>

  <div class="inner">
    <h3 class="rep-name">Senator John Cornyn</h3>
    <ul class="fa-markers">
      <li><i class="fa fa-phone"></i> <a href="tel:512-469-6034">512-469-6034</a> (Austin)</li>
      <li><i class="fa fa-phone"></i> <a href="tel:202-224-2934">202-224-2934</a> (DC)</li>
      <li><i class="fa fa-phone"></i> <a href="tel:903-593-0902">(903) 593-0902</a> (Tyler)</li>
      <li><i class="fa fa-globe"></i> <a href="https://www.cornyn.senate.gov/"> www.cornyn.senate.gov</a></li>
      <li><i class="fa fa-twitter"></i> <a href="https://twitter.com/JohnCornyn">@JohnCornyn</a></li>
    </ul>
  </div>
</div>
